.App {
  text-align: center;
  font-size: larger;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  background-image: url("../public/images/quiz.jpg");
  background-repeat: no-repeat;
  height: 150px;
  background-size: 50% 100%;
  padding: 20px;
  margin-left: 32%;
}

.App-intro {
  font-size: large;
}

.App h2 {
  text-shadow: 2px 3px 5px grey;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  margin-left: 40%;
  text-align: left;
}
.table {
  margin-left: 38%;
  text-align: center;
}

.current-user {
  float: right;
}

.quiz-list{
  /*margin-left: 10px;*/
  text-align: center;
  list-style: none;
}

.passed {
  color: green;
}

.failed {
  color: red;
}

.question {
  text-align: left;
  margin-left: 30%;
}

.timer {
  text-align: right;
  margin-right: 5%;
}

.footer-list {
  clear: both;
  /*border-bottom: 1px solid #e2e5e8;*/
  padding: 20px 0;
  text-align: center;
}

.footer-list ul {
  border-top: 1px solid #e2e5e8;
  margin-top: 25%;
}

ul {
  list-style: none;
  text-align: center;
  display: inline-block;
}

/*
.container {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}
*/

.footer-item {
  float: left;
  margin-right: 20px;
  color: #b2bac2;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
}
.footer-social-item {
  width: 24px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 15px;
}

.backBtn {
  margin-left: 1%;
}